

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
         
          <a target="_blank" class="simple-text logo-normal">
            COVID Dash
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
         
          
          
          <li>
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List</p>
            </a>
          </li>
          

         
          

          
        </ul>
        {% endif %}
        
      </div>
    </div>
